.cart-view {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.692);
    color: rgb(255, 255, 255); 
    border: 1px solid #cccccc; 
    max-width: 600px; 
    margin: 20px auto; 
    border-radius: 8px; 
}

h2 {
    text-align: center; 
}

h3{
    text-align: center;
}

ul {
    list-style-type: none; 
    padding: 0; 
}

.cart-item {
    display: flex;
    justify-content: space-between; 
    padding: 10px;
    border-bottom: 1px solid #ffffff; 
}

.cart-item button{
    background-color: red;
}

.cart-item:last-child {
    border-bottom: none; 
}
