/* CartWidget.css */
.cart-widget {
    position: relative;
    display: flex;
    
}

.cart-button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
        background-color: transparent; /* Sin fondo */
text-decoration: none
    }


.cart-content {
    position: absolute;
    top: 40px; /* Ajusta según sea necesario */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 250px; /* Ancho de la lista */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegúrate de que aparezca encima */
}

.cart-item {
    margin: 5px 0;
    display: flex;
}
