.item-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    padding: 20px;
    background-color: #fff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    max-width: 400px; /* Ancho máximo de la tarjeta */
    margin: 20px auto; /* Margen automático para centrar la tarjeta */
}

.item-detail-container img {
    max-width: 100%; /* Imágenes responsivas */
    height: auto;
    border-radius: 8px; /* Bordes redondeados en la imagen */
}

.item-detail-container h2 {
    margin: 15px 0;
    color: #333; /* Texto oscuro */
    text-align: center; /* Centrar el título */
}

.item-detail-container p {
    color: #069e0d; /* Texto gris */
    margin: 5px 0;
    text-align: center; /* Centrar el texto de la descripción */
}

.item-detail-container .quantity-selector {
    margin: 10px 0; /* Espaciado entre elementos */
}
