.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000; /* Fondo negro */
    padding: 10px 20px;
    color: #fff; /* Texto blanco */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0 15px;
}

ul li a {
    color: #fff; /* Enlaces en blanco */
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: #ccc; /* Color gris claro al pasar el mouse */
}

.cart-widget {
    position: relative;
}

.cart-dropdown {
    position: absolute;
    right: 0;
    top: 40px; /* Ajusta según la altura de la navbar */
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    border: 1px solid #ccc; /* Borde gris claro */
    padding: 10px;
    z-index: 10;
    width: 200px; /* Ancho del dropdown */
    box-shadow: 0 4px 8px rgba(0, 0, 0, )
    }