.navbar {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    color: #fff;
}

a{
    text-decoration: none;
}

.logo {
    padding-right: 10%;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    color: white;
}

ul li {
    margin: 0 15px;
    text-decoration: none
}

ul li a {
    color: #000000;
    text-decoration: none;
}

ul li a{
    text-decoration: none;
    color: #130000;
    
}

.cart-widget {
    text-decoration: none;
    position: relative;
    padding-left: 10%;
}

.cart-dropdown {
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 40px; 
    background-color: white;
    color: black;
    border: 1px solid #000000; 
    padding: 10px;
    z-index: 10;
    width: 200px;
    }